body {
	font-family: "Roboto";
	background: #EB3349;  
	background: -webkit-linear-gradient(to right, #F45C43, #EB3349);  
	background: linear-gradient(to right, #F45C43, #EB3349); 
	

}

/* Nav Bar */
.navbar {
	-webkit-box-shadow: 0px 17px 64px -6px rgba(0,0,0,0.26);
	-moz-box-shadow: 0px 17px 64px -6px rgba(0,0,0,0.26);
	box-shadow: 0px 17px 64px -6px rgba(0,0,0,0.26);
}





.navbar {
	background-color: white; 
}

.pull-right {
    float: right;
}


.drop-down-menu{
	/*float: right;*/
	float: left;
	margin: 10px;	 
	width:120px;
  	height:50px;
  	border:0px;
  	outline:none;
}
.options{
	border-radius: 30px;
}



/* create poll */
.create-survey-container > p {
	font-size: 20px;
}

.heading {
	margin-left: 100px;
}

.create-survey-container {
	/*background-color: white; */
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 30px;
	padding-bottom: 50px;
}

.create-button, .submit-button, .login-button, .signup-button, .comment-button, .button{
	border-radius: 30px;
	border: 0;

	background: #e53935; 
	background: -webkit-linear-gradient(to right, #e53935, #e35d5b);
	background: linear-gradient(to right, #e53935, #e35d5b);

	color: white;

    cursor: pointer;

    font-family: "Roboto";
	letter-spacing: 2px;
	font-size: 12px; 

	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	padding-top: 10px;


	-webkit-box-shadow: 2px 10px 40px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 10px 40px -10px rgba(0,0,0,0.75);
	 box-shadow: 2px 10px 40px -10px rgba(0,0,0,0.75);




	-webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;
}


create-button, .submit-button, .login-button, .signup-button{
	margin-top: 50px;
	margin-left: 85%;

}


.comment-button {


}






.create-button:hover, submit-button:hover, .login-button:hover, .signup-button:hover, .comment-button:hover, .button:hover {
	opacity: 0.8;


    
}



.error-message {

}


/* poll/rating */



.info-cont{
	padding-bottom: 10px; 
}

.username, .description, .end-date {
	font-size: 13px; 
	margin-bottom: 5px; 
}




.vote-cont{
	padding-top: 10px; 
	padding-left: 20px; 
}

.vote-heading{
	margin-bottom: 7px; 

}

.option-choice{
	margin-right: 10px;
}




.poll-option{
	width: 50%;




	border: 0;
	border-radius: 5px;

	cursor: pointer;

	font-family: "Roboto";
	letter-spacing: 3px;
	font-size: 15px; 

	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	padding-top: 10px;

	color:  #e53935;
	background-color: white;
	border: 1px solid #e53935;




    -webkit-transition-duration: 0.6s; /* Safari */
    transition-duration: 0.6s;
}




.poll-option:hover{
	background-color: #e53935;


    color: white;
	-webkit-box-shadow: 4px 18px 82px -9px rgba(0,0,0,0.59);
	-moz-box-shadow: 4px 18px 82px -9px rgba(0,0,0,0.59);
	box-shadow: 4px 18px 82px -9px rgba(0,0,0,0.59);
}







.vote-button{
	margin-top: 20px; 
	margin-left: 5px; 
}



.rank-cont {

}



.rank-display-cont{
	color: #e53935;
	text-align: center;
}


.rank-num{
	font-size: 30px; 
	font-weight: bold; 
	margin-bottom: 5px; 
}

.rank-label{
	font-size: 12px; 
    letter-spacing: 2px; 
}

.like, .dislike {
	margin-right: 6px; 
	/*margin-bottom: 20px; */
}

.rank-cont {
	text-align: center;
}

.rank-button{
	/*margin-left: 70px; */
}

.rank-btn-cont{
	margin-top: 20px;
}




.comments-cont{
	padding-top: 20px; 
}

.comment-cntrl-cont{
	padding-top: 20px; 
}

.comment-ann {
	font-size: 15px; 
}


.comment-ann-cont {
	padding-left: 40px; 
	padding-top: 1px; 

}


.comment-button{
	margin-right: 30px; 
}

.tot-comments{
	letter-spacing: 2px;
	color: #e53935;

}

.section-heading{
	letter-spacing: 2px;
	color: #e53935;
}


.cont {
	background-color: white; 

	border-radius: 10px;

	-webkit-box-shadow: -1px 10px 39px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 10px 39px -5px rgba(0,0,0,0.75);
	box-shadow: -1px 10px 39px -5px rgba(0,0,0,0.75);
}


.display-survey-container {
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 10px;
	margin-bottom: 50px;

	padding-bottom: 50px;
	padding-top: 50px;
}

.create-cont{
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 10px;
	margin-bottom: 50px;

	padding-bottom: 50px;
	padding-top: 50px;

}

.users-cont{
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 10px;
	margin-bottom: 50px;

	padding-bottom: 50px;
	padding-top: 50px;
}





.survey-heading{
	font-size: 40px; 
	padding-left: 55px;
}

.sub-cont {
	padding-left: 80px;
	padding-right: 80px;

}

.option-choice{
	margin-bottom: 3px; 
}







/* login */
.login-heading, .signup-heading{
	margin-left: 200px;
}

.login-container, .signup-container {
	padding-left: 250px;
	padding-right: 250px;
	padding-top: 30px;
	padding-bottom: 50px;
}

/* sign-up */

/*rating */


/* HOME */

.home-container {
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 10px;
	margin-bottom: 50px;

	padding-bottom: 50px;
	padding-top: 50px;
}



.search-bar-wrapper{
	background-color: white;
	padding-top: 30px; 
	padding-bottom: 20px; 
	position: fixed;
	width: 98%;
	z-index: 999;


	left: 50%;
	margin-left: -49%;

	margin-top: -23px; 

	-webkit-box-shadow: -1px 10px 39px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 10px 39px -5px rgba(0,0,0,0.75);
	box-shadow: -1px 10px 39px -5px rgba(0,0,0,0.75);
}

.search-bar-container {
	width:  80%;
	margin-left: auto;
	margin-right: auto;
}

.search-bar {
	width: 80%;
	border-radius: 30px;
	height: 60px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 30px;
	padding-top: 30px;
	font-family: "Roboto";
	letter-spacing: 2px;
}

.search-button {
	overflow: visible;
    position: relative;
    float: right;
    border: 0;
   
   	height: 60px;
    width: 200px;
    border-radius: 30px;
    margin-left: -200px;
    margin-top:1px;
    color: white;
    cursor: pointer;
    font-family: "Roboto";
	letter-spacing: 2px;
	background: #e53935; 
	background: -webkit-linear-gradient(to right, #e53935, #e35d5b);
	background: linear-gradient(to right, #e53935, #e35d5b);

	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.search-button:hover {
    opacity: 0.8;
}

.search-button:focus {outline:0;}

.search-result{
	text-align: center; 
	margin-bottom: 0px;
	margin-top: 10px; 
	letter-spacing: 2px; 
	color: #BB298B;
}


.popular-cont{
	position: fixed;
	margin-top: 160px;  
	background-color: white; 
	width: 20%;
	left: 20px;



	padding: 20px; 

	-webkit-box-shadow: -1px 10px 39px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 10px 39px -5px rgba(0,0,0,0.75);
	box-shadow: -1px 10px 39px -5px rgba(0,0,0,0.75);
}

.popular {
	color: #BB298B;
	letter-spacing: 2px; 
}

.remove-margins{
	margin-left: 0px !important; 
	margin-right: 0px !important; 
}


.feed{
	width: 90%;
	margin-top: 160px; 
	margin-left: 10px; 
	margin-right: 10px;
	margin-bottom: 75px;
}

.post-container{
	background-color: white;
	cursor: pointer;

	border-radius: 10px;

	-webkit-box-shadow: 4px 18px 82px -9px rgba(0,0,0,0.59);
	-moz-box-shadow: 4px 18px 82px -9px rgba(0,0,0,0.59);
	box-shadow: 4px 18px 82px -9px rgba(0,0,0,0.59);

	-webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;

   


	padding-left: 40px; 
	padding-right: 40px; 
	padding-top:  25px; 
	padding-bottom: 20px; 

	margin-bottom: 15px;

}


.post-container:hover{	
	-webkit-box-shadow: 4px 15px 82px 11px rgba(0,0,0,0.5);
	-moz-box-shadow: 4px 15px 82px 11px rgba(0,0,0,0.5);
	box-shadow: 4px 15px 82px 11px rgba(0,0,0,0.5);
}

.feed-question-title {
	font-size: 30px; 
	letter-spacing: 1px; 
	margin-bottom: 6px;
}

.feed-user{
	color: grey;
	margin-bottom: 6px;
}

.feed-subtitle {
	color: grey;
	font-size: 12px;
	margin-bottom: 6px;
}

.feed-description {
	color: grey;
	font-size: 12px; 
	margin-bottom: 6px;
}

.feed-survey-type {
	text-transform: uppercase;
}

.feed-end-date {
	margin-bottom: 6px;
}

.feed-total-votes {
	font-size: 12px; 
	margin-bottom: 6px;
}

/*.feed-positive-votes {
	margin-bottom: 6px;
}*/

.feed-num-likes {
	font-size: 12px; 
	margin-bottom: 6px;
}

.tag {
	text-transform: uppercase;
	letter-spacing: 2px; 
	font-size: 10px; 

	border-radius: 20px;
	margin-bottom: 6px;
	/*background-color: #229B87;*/
	background-color: #BB298B;
	/*background-color: #F58335;*/
	color: white;

	margin-left: 7px;

	padding-left: 15px;
	padding-right: 15px; 
	padding-top: 7px; 
	padding-bottom: 7px;  


}

.feed-stats {
	text-align: right;
}

.tags-container {
	float: right;
}


/*************** PROFILE *****************/
.profile-cont {
	position: fixed;
	margin-top: 17px;  
	background-color: white; 
	width: 23%;
	left: 20px;

	padding-left: 20px; 
	padding-right: 20px; 
	padding-top: 30px; 
	padding-bottom: 30px; 

	-webkit-box-shadow: -1px 10px 39px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 10px 39px -5px rgba(0,0,0,0.75);
	box-shadow: -1px 10px 39px -5px rgba(0,0,0,0.75);
}

.my-posts-container {
	margin-top: 0px; 
}

#profile-pic{
	border-radius: 50%; 
	display: block;
    margin: 0 auto;
}




.profile-username {
	font-size: 40px; 
	text-align: center; 
	margin-bottom: 5px; 
}

.bio {
	font-size: 15px; 
	color: #616161;
	margin-bottom: 25px;
	text-align: center; 
}

.following-cont {

}

.followers, .followers-heading, .following, .following-heading {
	text-align: center; 
}

.followers, .following {
	margin-bottom: 0px; 
	font-size: 25px; 
	font-weight: bold;
}

.followers-heading, .following-heading  {
	font-size: 13px; 
	letter-spacing: 2px; 
	color: #616161;
}

.profile-button {
	display:block; 
    width:40%;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 20px; 

 

	border: 0;
    color: #e53935;
    cursor: pointer;
    font-family: "Roboto";
	letter-spacing: 2px;
	background: white; 
}



/************ MEDIA QUERIES ***************/

@media only screen and (max-width: 1024px) {
/*	.login-container, .signup-container {
		padding-left: 75px;
		padding-right: 75px;
		padding-top: 30px;
		padding-bottom: 50px;
	}*/

	.users-cont, .create-cont, .display-survey-container  {
		margin-top: 0px; 
		margin-left: 10px; 
		margin-right: 10px;
	}

	.login-container, .signup-container, .create-survey-container{
		padding-left: 25px; 
		padding-right: 25px; 
	}


   .login-heading, .signup-heading, .heading{
		margin-left: 50px;
	}

	.login-button, .signup-button {
		margin-top: 25px;
	}

	.login-button {
		margin-left: 80%;
	}

	.signup-button {
		margin-left: 75%;
	}



	.feed {
		margin-top: 230px; 
		margin-left: auto; 
		margin-right: auto; 
	}

	.popular-cont {
		margin-top: 110px; 
		z-index: 999;
		width: 98%; 
		left: 50%;
		margin-left: -49%; 

	}

	.search-bar-container {
		width: 98%;
	}

	.drop-down-menu {
		height: 20px;
		width: 80px;
		font-size: 12px; 
	}

	.search-bar {
		font-size: 12px; 
		height: 40px;
		padding-left: 20px; 
		padding-right: 10px; 
		padding-top: 10px; 
		padding-bottom: 10px; 


	}

	.search-button {
		font-size: 12px; 
		height: 40px; 
		width: 150px;
		margin-left: -150px;
		margin-top: -1px; 
	}

	.profile-cont {
		margin-top: -40px; 
		z-index: 999;
		width: 98%; 
		left: 50%;
		margin-left: -49%; 
	}


	.my-posts-container {
		margin-top: 180px; 
	}




}


