#root {
  background-color: #FAFAFA;
  font-family: 'Roboto';
}

/* Properties */
.inline {
  display: inline-block;
}

.login-form{
  padding-top: 100px;
  padding-left: 150px;
  padding-right: 150px; 
  
}

.signup-form{
  padding-top: 20px;
  padding-left: 150px;
  padding-right: 150px; 
  
}
.signup-title{
   margin: auto;
   width: 50%;
   padding: 10px;
   padding-bottom: 30px;
}

/* Profile */
.profile-top{
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;

  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%; 
}

.name {
  color: #00BCD4;
  margin-left: 10%;
  font-size: 50px;

}

.form {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;

  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%; 
}


.button-margin {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
}

.action-button {

}

/* NavBar */
/*.app-bar{
 padding-bottom: 5%;
}*/

/*.nav-item {
    padding-right: 15% !important; 
}
*/
