<div>
<div class="admin-cont" ng-controller="adminCtrl">
	<p class="admin-heading"> Admin Page </p>
    <p class="admin-subheading"> {{adminData.AdminErrorMessage}} </p>
    <div ng-if="adminData.auth == 0">

        <div class="form-group row">
			<label for="password" class="col-sm-1 col-form-label">Password </label>
			<div class="col-sm-6">
				<input id = "pollTitle" type="password" class="form-control" id="password" name="password" ng-model="input.adminPassword">
			</div>
			<input type="submit" 
		    value="AUTHENTICATE"
		    class = "create-button auth-button"
		    ng-click="authenticate()">
		</div>
		
    </div>

    <div ng-if="adminData.auth == 1">

    	<h3>Flagged Questions</h3>

    	<div data-ng-init="loadFlagged()">

			<div class="post-container" ng-repeat="question in flagged.questionList" ng-click="goToLink(question)">
				<p class="feed-question-title" id="current-question-title">{{question.title}}</p>
				<div class="row">
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
						<p class="feed-user"> Created by {{question.username}} on {{question.startDate | date: 'yyyy-MM-dd'}}</p>
						<p class="feed-subtitle">{{question.subtitle=="undefined" ? "" : question.subtitle}} </p> 
				 		<p class="feed-description">{{question.description=="undefined" ? "" : question.description}} </p> 

					</div>
					<div class="feed-stats col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
						<p class="feed-end-date">{{question.endDateDisplay}}</p>
						<p class="feed-total-votes">{{question.totalVotes}} VOTES</p>
						<p class="feed-num-likes"> {{question.numLikes}} LIKES</p>

						<button class="admin-unflag-button" ng-click="unflag(question, flagged.questionList, $index)">UNFLAG</button>

						<!-- add tags  -->
						<div class="tags-container row" ng-repeat="tag in question.allTags">
							<div class="tag"> {{tag.tagStr}} </div>
						</div>

					</div>
				</div>
			</div>

    	</div>

    	<h3>Flagged Comments</h3>
    	<br>
    	<br>
    	<div data-ng-init="loadFlaggedComments()">

    		<div ng-repeat="comment in flagged.commentList">
    			{{comment.description}} <br>
    			<img src="{{comment.image}}"> <br>
    			<button class="admin-unflag-button" ng-click="unflagComment(comment, flagged.commentList, $index)">UNFLAG</button> 
    			<hr />
    			<br>
    			<br>

    		</div>

    	</div>

    </div>
    
</div>
