<div class="cont create-cont">
<h2 class="heading">Create a New Poll</h2>
<form class="create-survey-container" ng-controller="CreatePollCtrl">

	<p> Title </p>
	<input id = "pollTitle" type="text" class="form-control" name="title" ng-model="pollTitleInput">
	<br>

	<p> Subtitle </p>
	<input type="text" class="form-control" name="subtitle" ng-model="pollSubtitleInput">
	<br>

	<p> Description </p>
	<input type="text" class="form-control" name="description" ng-model="pollDescriptionInput">
	<br>

	<p> Option 1 </p>
	<input type="text" class="form-control" name="option" ng-model="option1Input">
	<br>

	<p> Option 2 </p>
	<input type="text" class="form-control" name="option" ng-model="option2Input">
	<br>

	<p> Option 3 </p>
	<input type="text" class="form-control" name="option" ng-model="option3Input">
	<br>

	<p> Option 4 </p>
	<input type="text" class="form-control" name="option" ng-model="option4Input">
	<br>

	<p> Option 5 </p>
	<input type="text" class="form-control" name="option" ng-model="option5Input">
	<br>

	<p> Option 6 </p>
	<input type="text" class="form-control" name="option" ng-model="option6Input">
	<br>

	<p> Option 7 </p>
	<input type="text" class="form-control" name="option" ng-model="option7Input">
	<br>

	<p> Option 8 </p>
	<input type="text" class="form-control" name="option" ng-model="option8Input">
	<br>

	<p> Option 9 </p>
	<input type="text" class="form-control" name="option" ng-model="option9Input">
	<br>

	<p> Option 10 </p>
	<input type="text" class="form-control" name="option" ng-model="option10Input">
	<br>

	<p> End Date </p>
	<input type="date" name="endDate" ng-model="endDateInput" min ="{{minDate | date:'yyyy-MM-dd'}}">

	<p> <input type="checkbox" name="openForever" ng-model="openForeverInput">
	Open Forever </p>

	<p> <input type="checkbox" name="anonymous" ng-model="isAnonymousInput">
	Post Anonymously </p>

	<p> Tags </p>
	<input type="text" placeholder="Please Use Comma Separated Tags When Submitting (i.e T1, T2)" class="form-control" name="tag" ng-model="tagInput">
	<br>

	<div>
		<input id ="image_input" type="text" class="form-control" placeholder="Copy Image URL Here (JPEG, JPG, GIF, or PNG)">
		<button type="button" ng-click="preview()">Upload</button>
		<p>
		<img style="display: none" id="question_image" src="" width="250px" alt = "NO IMAGE" ></img>
	</div>


	<input type="submit" 
			id="createButtonInPoll"
		   value="CREATE"
		   class = "create-button"
		   ng-click="createPoll()"
	>


	<p id="errorMessageText" class="error-message">{{errorMessage}}</p>

</form>

</div>