

<h1>This is Creating Poll.</h1>
<form class="container"
	ng-controller="CreatePollCtrl"

	>

	<h3> Title </h3>
	<input type="text" name="title" ng-model="pollTitleInput">
	<br>

	<h3> Option 1 </h3>
	<input type="text" name="option" ng-model="option1Input">
	<br>

	<h3> Option 2 </h3>
	<input type="text" name="option" ng-model="option2Input">
	<br>

	<h3> Option 3 </h3>
	<input type="text" name="option" ng-model="option3Input">
	<br>

	<h3> Start Date </h3>
	<input type="date" name="startDate" ng-model="startDateInput">
	<br>

	<h3> End Date </h3>
	<input type="date" name="endDate" ng-model="endDateInput">

	<h3> Post Anonymously </h3>
	<input type="checkbox" name="anonymous" ng-model="isAnonymousInput">

	<h3> Tags </h3>
	<input type="text" name="tag" ng-model="tagInput">
	<br>



	<input type="submit" 
		   value="submit"
		   ng-click="createPoll()"
	>


</form>