<h2 class="heading">Create a New Rating</h2>

<!-- TODO: Getting rating datas -->

<form class="create-survey-container" ng-controller="CreateRateCtrl">

	<p> Title </p>
	<input type="text" name="title" class="form-control" ng-model="ratingTitleInput">
	<br>

	<p> Subtitle </p>
	<input type="text" name="subtitle" class="form-control" ng-model="pollSubtitleInput">
	<br>

	<p> Description </p>
	<textarea rows="4" cols="50" name="description" class="form-control" ng-model="descriptionInput">
	</textarea> 
	<br>

	<p> End Date </p>
	<input type="date" name="endDate" class="form-control" ng-model="endDateInput" min ="{{minDate | date:'yyyy-MM-dd'}}">

	<p><input type="checkbox" name="openForever" ng-model="openForeverInput">
	Open Forever </p>

	<p><input type="checkbox" name="anonymous" ng-model="isAnonymousInput">
	Post Anonymously </p>

	<p> Tags </p>
	<input type="text" placeholder="Please Use Comma Separated Tags When Submitting (i.e T1, T2)" class="form-control" ng-model="tagInput">
	<br>

	<input type="submit" 
		   value="CREATE"
		   class = "create-button"
		   ng-click="createRating()"
	>

	<p>{{errorMessage}}</p>

</form>