<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Main Feed Page</title>

	<style>
		.table th, .table td {
			text-align: center;
			vertical-align: middle;
		}
		.mainLayout{
			margin: auto;
   	 		width: 75%;
    		padding: 10px;
		}

	</style>
</head>
<body>



<a class="search-result">{{questionList.length}} result(s)</a>

<h2 id="Title" class="heading">Home Page</h1>

<div ng-switch on="isQuestionList">
	<div class="" ng-switch-when="1">
		
		<table class="mainLayout table table-responsive table-striped col-12 mt-3">
			
			<thead>
				<tr>
					<th>Question</th>
					<th>SubTitle</th>
					<th>Description</th>
					<th>Type</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Total Votes</th>
					<th>Positive Votes</th>
				</tr>
			</thead>
			<tbody ng-controller= "FeedCtrl" >

				<tr class="" ng-repeat="question in questionList" ng-click="goToLink(question)">
					<td>{{question.title}}</td>
					<td>{{question.subtitle=="undefined" ? "" : question.subtitle}}</td>
					<td>{{question.description=="undefined" ? "" : question.description}} </td>
					<td><span>{{question.isPoll ? 'Poll' : 'Rating'}}</span> </td>

					<td>{{question.startDate | date: 'yyyy-MM-dd'}}</td>
					<!-- <td>{{question.endDate | date: 'yyyy-MM-dd'}}</td> -->

					<td><span>{{ question.endDate!="0000-00-00 00:00:00" ?
						(question.endDate | date: 'yyyy-MM-dd') : 'Open Forever'}}<span></td>

					<td>{{question.totalVotes}} </td>
					<td>{{question.positiveVotes}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-switch-on = "isQuestionList">
		<div ng-switch-when = "2">

			<table class="mainLayout table table-responsive table-striped col-12 mt-3">
				
				<thead>
					<tr>
						<th>User</th>
					</tr>
				</thead>
				<tbody>
					<tr class="" ng-repeat="user in userList" ng-click="goToUser(user.username)">
						<td>{{user.username}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

</body>
</html>