<div ng-controller="otherUserProfile">

	<div ng-switch="errorSignal">
		<div ng-switch-when="0">

			<div ng-if="isAdmin == 1">
				<button ng-click="deactivateAccount()">DEACTIVATE</button> <br>
				<button ng-click="banAccount()">BAN</button>
			</div>

			<div class="row remove-margins">
	 			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 ">
					<div class="profile-cont affix">

						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-12 col-xl-12 ">
								<img id="profile-pic" class="img-circle" src = {{imageURL}} alt="NO IMAGE" width="150px" height="150px">
							</div>

							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-12 col-xl-12 ">
								<p class="profile-username"> {{otherUsername}} </p>
								<p class="bio"> {{bio}} </p>

								<div class="row following-cont">
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
										<p class="followers"> {{userStats.numFollowers}} </p>
										<p class="followers-heading"> FOLLOWERS  </p>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
										<p class="following"> {{userStats.numFollowing}} </p>
										<p class="following-heading"> FOLLOWING </p>
									</div>
								</div>

								<div id="btnContainer">
									<div id="btnDiv">
										<button class="profile-button" id="unfollowBtn" ng-click="toggleFollow()">{{isFollowing.string}}
										</button>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div> 

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 offset-lg-3 col-xl-9 offset-lg-3">
					<div class="my-posts-container">
						<div class="post-container" ng-repeat="question in questionList" ng-click="goToLink(question)">
							<p class="feed-question-title" id="current-question-title">{{question.title}}</p>

							<div class="row">
								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
									<p class="feed-user"> Created by {{otherUsername}} on {{question.startDate | date: 'yyyy-MM-dd'}}</p>
									<p class="feed-subtitle">{{question.subtitle=="undefined" ? "" : question.subtitle}} </p> 
							 		<p class="feed-description">{{question.description=="undefined" ? "" : question.description}} </p> 
								</div>
								<div class="feed-stats col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
									<p class="feed-end-date">{{question.endDateDisplay}}</p>
									<p class="feed-total-votes">{{question.totalVotes}} VOTES</p>
									<p class="feed-num-likes"> {{question.numLikes}} LIKES</p>
									<div class="tags-container row" ng-repeat="tag in question.allTags">
										<div class="tag"> {{tag.tagStr}} </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div id="userProfileError" ng-switch-when="2">
			This account has been deactivated
		</div>
		<div id="userProfileError" ng-switch-default>
			You are not logged in
		</div>
	</div>
</div>
