<link rel="stylesheet" type="text/css" href="../style/style.css">

<form class="container"
	ng-controller= "PollCtrl" 
>

<table>
	<tr>
		<td>Creator:</td>
		<td>{{userID}}</td>
	</tr>
	<tr>
		<td>Title:</td>
		<td>{{title}}</td>
	</tr>
	<tr>
		<td>Description:</td>
		<td>{{description}}</td>
	</tr>
	<tr>
		<td>End Date:</td>
		<td>{{endDate}}</td>
	</tr>
	<tr>
		<td>Comment:</td>
	</tr>
</table>

<textarea ng-model="descriptionInput" rows="4" cols="30"></textarea>

<div ng-controller="PollCtrl">
	<p ng-repeat="comment in commentList">
		------------------------------ <br>
		{{comment.userID}} <br>
		{{comment.description}} <br>
		------------------------------ <br>
	</p>
</div>


<input type="submit" 
		   value="submit"
		   ng-click="createComment()"
	>

<!-- 
 <h2>Duration: </h2>
<h3>{{info.endDate}}</h3>
</p>

<table>
  <tr ng-repeat="x in options">
    <td>option:</td>
    <td>{{ (pollOption).title }}</td>
  </tr>
</table>

<h3> Post Anonymously </h3>
<input type="checkbox" name="anonymous" ng-model="isAnonymousInput">
<br>

<form ng-model="likeInput">

<label>
  <input type="radio" name="dis/like" value="like" />
  <img src="img/like.png" width="50" height="50">
</label>

  
<label>
<input type="radio" name="dis/like" value="dislike" />
<img src="img/dislike.png" width="50" height="50">
</label>

</form>

<br>
Comment: 
<textarea rows="4" cols="50">
</textarea> 
<! 
<input type="submit" 
	   value="submit"
	   ng-click="Rating()"
> 
	<p>{{errorMessage}}</p>

</form> -->


<!-- script>

con.query("SELECT q.isPoll, q.title, q.subTitle, q.description " + 
	"FROM KUser u, Question q, UserToQuestion uq WHERE u.username='" +
	req.query.username + "' AND uq.userID = u.userID AND uq.questionID = q.questionID;", 

	function (err, result, fields) {
		console.log("Server fetched the profile from the db");
		if(err) throw err;
		res.json(result);
	});

</script> -->