<div class="display-survey-container cont">
	<p class="survey-heading" id = "title">{{title}}</p>
	<div class="sub-cont">

		<div class="info-cont">
			<p class="username"  id = "username"> Created by {{username}} </p>
			<p class="description" id = "description"> {{description}} </p>
			<p class="end-date" id = "endDate"> 
				Closes on {{ endDate=="Open Forever" ?
				endDate : (endDate | date: 'short')}}</p>

			<div data-ng-init="loadQFlag()"> 
				<h3 style="color:red">{{flag.flagInfo}}</h3>
				<div ng-if="flag.isFlagged">
					<button ng-click="toggleFlag(0)">UNFLAG</button>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12">

				<img class = "image_for_question" id="image_in_poll" src= {{imageURL}} ></img>


				<div ng-if="hideInputFields()">
					<p class="section-heading vote-heading"> CAST VOTE </p>

					<form class="vote-cont">	
					<form class="vote-cont">

						<p ng-repeat="option in pollList track by $index">	
							<input class="poll-option" 
							 		id ="RatingButton" 
							 		type="submit" 
							 		value = {{option.title}}  
							 		ng-click="selectPollOption($index, pollList)">
						</p>
						<p id="PollErrorMessage">{{errorMessagePoll}}</p>
					</form>
				</div>

				<div class="poll-results">
					<p class="section-heading vote-heading"> RESULTS </p>
					<div ng-repeat="option in pollResults">
						<p> {{option.title}} : {{option.votes}}</p>

					</div>
				</div>
			</div>

			
			<div class="rank-cont col-lg-4 col-md-4 col-sm-12">
				<!-- Show Number of Lies and Dislikes -->

				<div class="rank-display-cont row">
					<div class="col-lg-5 col-md-4 col-sm-12 num-likes">
						<p class="rank-num" id = "numLikes"> {{totalLikeCount}} </p>
						<p class="rank-label"> LIKES </p>
					</div>

					<div class="col-lg-5 col-md-4 col-sm-12 num-likes">
						<p class="rank-num" id = "numDislikes"> {{totalDislikeCount}} </p>
						<p class="rank-label"> DISLIKES </p>
					</div>
				</div>


				<!-- Like/Dislike -->
				<!-- <form class="rank-cont" ng-hide="userIsLoggedIn()"> -->
				<form class="rank-cont" ng-if="hideInputFields()">

					<div class="row">
						<div class="col-lg-5 col-md-5 col-sm-12 num-likes">
							<input class="like" id= "likeRadioButton" ng-model="$parent.likeInput" type="radio" name="like" value="true" /> LIKE
							<!-- <img src="img/like.png" width="50" height="50"> -->
						</div>
						<div class="col-lg-5 col-md-5 col-sm-12 num-likes">
							<input class="dislike" id = "dislikeRadioButton" ng-model="$parent.likeInput" type="radio" name="dislike" value="false" /> DISLIKE
							<!-- <img src="img/dislike.png" width="50" height="50"> -->
						</div>
					</div>

					
					<div class="rank-btn-cont col-lg-10 col-md-10 col-sm-12">
						<input class="button rank-button" id = "LikeDislikeButton" type="submit" value="RANK" ng-click="selectLikeOrDislike()">
					</div>	

					<p id = "LikeDislikeErrorMessage">{{errorMessageLike}}</p>
				</form>
			</div>


		</div>

		<!-- Comment -->

		<div class="comments-cont" ng-if="userIsLoggedIn()">	
			<textarea ng-model="$parent.commentInput" rows="4" cols="50" class="form-control" placeholder="Write a review"></textarea>

			<div class="row comment-cntrl-cont">

				<div class="comment-ann-cont col-lg-6 col-md-5">
					<p class="comment-ann">
						<input id="anonymous" type="checkbox" name="anonymous" ng-model="$parent.isAnonymousInput"> Comment Anonymously 
					</p>
				</div>
				<div class="col-lg-6 col-md-6">
					<input class="comment-button pull-right" id = "CommentButton" type="submit" value="SUBMIT" ng-click="createComment()">
				</div>
			</div>
			<br>
			<p id = "CommentErrorMessage">{{errorMessageComment}}</p>
			<br>
		</div>

		<div class="all-comments-cont">

			<p class="section-heading total-comments-heading" id = "totalComment">ALL REVIEWS ({{totalComment}}) </p>

			<form>
				<div class="comments-list">
					
					<div ng-model= "commentInfo" ng-repeat="comment in commentList">
						<div class="comment-cont"> 

							<div ng-hide="visible">
								<div class="row">
									<div class= "col-lg-9 col-md-9 col-sm-12">
										<p class="comment-username"> {{comment.userIDAnnonymous}} </p>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-12">
										<div class="action-buttons-container">
											<button class="action-buttons edit-comment-button" ng-show="comment.userID==loggedInuserID" ng-click="visible=true">
							                	EDIT
							                </button>
											<button class="action-buttons delete-comment-button" ng-show="comment.userID==loggedInuserID" ng-click="deleteComment(comment)"> 
												DELETE
											</button> 
										</div> 
									</div>
								</div>
								<p class="comment-description"> {{comment.description}} </p>
							</div>

							<div ng-show="visible">
			                   	<div class="row">
									<div class= "col-lg-9 col-md-9 col-sm-12">
										<p class="comment-username"> {{comment.userIDAnnonymous}} </p>
									</div>
									<div class= "col-lg-3 col-md-3 col-sm-12">
										<div class="action-buttons-container">
											<button class="action-buttons save-comment-button" type="submit" ng-click ="visible=false; editComment(comment)">
												SAVE
											</button>
											<button class="action-buttons delete-comment-button" ng-show="comment.userID==loggedInuserID" ng-click="deleteComment(comment)"> 
												DELETE
											</button>   
										</div>
									</div>
								</div>

			                  	<div >
			                   		<textarea rows="4" cols="40" ng-model="comment.newComment" placeholder= {{comment.description}} class="form-control" ng-required> </textarea>
			               		</div>
			                </div>


			                <div class="row comment-rating-cont">
								<button class="like-comment" ng-model="comment.commentLikeInput" ng-value = "true" ng-click="commentLike(comment)" ng-required ng-if="hideInputFields()"> LIKE </button>
								<p class="like-comment-num"> {{comment.commentLikeCount}} </p>

								<button class="dislike-comment" ng-model="comment.commentLikeInput" ng-click="commentDislike(comment)" ng-required ng-if="hideInputFields()">DISLIKE </button>
								<p class="dislike-comment-num"> {{comment.commentDislikeCount}} </p>

								<!-- hey joyce can you make this button look nice? -->
								<button ng-click="toggleCommentFlag(comment, 1)"> FLAG </button>
							</div>

							{{errorMessageCommentLike}}
							
			             </div>
			        </div>		 

				</div>
			</form>
		</div>

		<div > 
			<p class="section-heading" id = "totalComment">RECOMMENDED FOR YOU </p>
			<div class="rec-cont">
				<div class="rec" ng-repeat="option in questionList" ng-click="goToLink(option)">
					<p class="rec-title"> {{option.title}} </p>			
					<p class="rec-descript"> {{option.description}} </p>	
				</div>
			</div>
			{{errorMessageRecommendedQuestion}}
				
			<div class="row">
				<button class="flag-button" ng-click='toggleFlag(1)'>Flag</button>
				<p class="flag-label"> post for inappropriate content </p>
			</div>
		</div>
</div>
