<div class="display-survey-container cont">
	<p class="survey-heading" id = "title">{{title}}</p>
	<div class="sub-cont">

		<div class="info-cont" ng-controller= "PollCtrl" >
			<p class="username"  id = "username"> Created by {{username}} </p>
			<p class="description" id = "description"> {{description}} </p>
			<p class="end-date" id = "endDate"> 
				Closes on {{ endDate=="Open Forever" ?
				endDate : (endDate | date: 'yyyy-MM-dd')}} </p>
		</div>


		<div class="row">
			<!-- ONLY show During Poll Period After show Result  -->
			<div class="col-lg-8 col-md-8 col-sm-12">
				<p class="section-heading vote-heading"> CAST VOTE </p>
				
				<form class="vote-cont" ng-controller= "PollCtrl">	
					<div ng-controller="PollCtrl" >
						<p ng-repeat="option in pollList">			
							 <input class="option-choice" ng-model="voteInput" value = {{option.title}} type="radio"> {{option.title}} 
						</p>
					</div>
				</form>


			</div>

			<!-- Button 
			<input  ng-controller="pollRatingCtrl" type="submit" value="submit" ng-click="voteOption()"> -->
			<!-- After the poll period show result -->
			<!-- ADD: like/dislike, rating, and comment are only for logged in user -->
			
			<div class="rank-cont col-lg-4 col-md-4 col-sm-12">
				<!-- Show Number of Lies and Dislikes -->

				<div class="rank-display-cont row">
					<div class="col-lg-5 col-md-4 col-sm-12 num-likes">
						<p class="rank-num" id = "numLikes"> {{totalLikeCount}} </p>
						<p class="rank-label"> LIKES </p>
					</div>

					<div class="col-lg-5 col-md-4 col-sm-12 num-likes">
						<p class="rank-num" id = "numDislikes"> {{totalDislikeCount}} </p>
						<p class="rank-label"> DISLIKES </p>
					</div>
				</div>


				<!-- Like/Dislike -->
				<form class="rank-cont" ng-controller= "pollRatingCtrl">
					<div class="row">
						<div class="col-lg-5 col-md-5 col-sm-12 num-likes">
							<input class="like" id= "likeRadioButton" ng-model="likeInput" type="radio" name="like" value="true" /> LIKE
							<!-- <img src="img/like.png" width="50" height="50"> -->
						</div>
						<div class="col-lg-5 col-md-5 col-sm-12 num-likes">
							<input class="dislike" id = "dislikeRadioButton" ng-model="likeInput" type="radio" name="dislike" value="false" /> DISLIKE
							<!-- <img src="img/dislike.png" width="50" height="50"> -->
						</div>
					</div>

					
					<div class="rank-btn-cont col-lg-10 col-md-10 col-sm-12">
						<input class="button rank-button" id = "LikeDislikeButton" type="submit" value="RANK" ng-click="selectLikeOrDislike()">
					</div>	

					<p id = "LikeDislikeErrorMessage">{{errorMessageLike}}</p>
				</form>
			</div>


		</div>



		<!-- Comment -->
		<div class="comments-cont" ng-controller= "pollRatingCtrl">	
			<textarea ng-model="commentInput" rows="4" cols="50" class="form-control" placeholder="Write a review"></textarea>

			<div class="row comment-cntrl-cont">

				<div class="comment-ann-cont col-lg-6 col-md-5">
					<p class="comment-ann">
						<input id="anonymous" type="checkbox" name="anonymous" ng-model="isAnonymousInput"> Comment Anonymously 
					</p>
				</div>


				<div class="col-lg-6 col-md-6">
					<input class="comment-button pull-right" id = "CommentButton" type="submit" value="SUBMIT" ng-controller= "PollCtrl" ng-click="createComment()">
				</div>
			</div>
			<br>
			<p id = "CommentErrorMessage">{{errorMessageComment}}</p>
			<br>
		</div>

		<div class="all-comments-cont">
			<p class="section-heading" id = "totalComment">ALL REVIEWS ({{totalComment}}) </p>
			<form ng-controller= "PollCtrl">	
				<div ng-controller="PollCtrl" >
					<ul ng-model= "commentInfo" ng-repeat="comment in commentList">
						<li> 
							<span ng-hide="visible">{{comment.userIDAnnonymous}}: <br> {{comment.description}}</span>

							 <div ng-show="visible">

			                    <label>Review:</label>
			                   <textarea rows="4" cols="50" 
			                    placeholder= {{comment.description}}></textarea>
			             
			                    <button class="btn" type="submit" 
			                    ng-click ="visible=false; editComment()">Save</button>

			                 </div>
			              </li>

			               <button class="btn" ng-show="comment.userID==loggedInuserID" 
							ng-click="visible=true"> Edit</button>

							 <button class="btn" ng-show="comment.userID==loggedInuserID" 
							ng-click="deleteComment()"> delete</button>     
			         <ul>
					 
				</div>
			</form>
		</div>


	</div>
</div>
