<h1 id="myProfileTitle">This is Profile.</h1>

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div ng-controller="ProfileCtrl">
	<img id="profile-pic" class="img-circle" src = "img/blankprofile.png" alt="NO IMAGE" width="100px" height="100px">Please enter a URL to change your profile picture:</img>
	<input id = "pictureURL" type="text"></input>
	<button id="imageButton" type="button" ng-click="createProfilePic()" >SUBMIT</button>
</div>

<div ng-controller="ProfileCtrl">

	<span style="color: red">{{loggedInMessage}}</span>
	<br>

	<table class="mainLayout table table-responsive table-striped col-12 mt-3">
		
		<thead>
			<tr>
				<th>Question</th>
				<th>SubTitle</th>
				<th>Description</th>
				<th>Type</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Total Votes</th>
				<th>Positive Votes</th>
			</tr>
		</thead>
		<tbody>

			<tr class="" ng-repeat="question in questionList" ng-click="goToLink(question)">
				<td>{{question.title}}</td>
				<td>{{question.subtitle=="undefined" ? "" : question.subtitle}}</td>
				<td>{{question.description=="undefined" ? "" : question.description}} </td>
				<td><span>{{question.isPoll ? 'Poll' : 'Rating'}}</span> </td>

				<td>{{question.startDate | date: 'yyyy-MM-dd'}}</td>
				<!-- <td>{{question.endDate | date: 'yyyy-MM-dd'}}</td> -->

				<td><span>{{ question.endDate!="0000-00-00 00:00:00" ?
					(question.endDate | date: 'yyyy-MM-dd') : 'Open Forever'}}</span></td>

				<td>{{question.totalVotes}} </td>
				<td>{{question.positiveVotes}}</td>


			</tr>
		</tbody>
	</table>
</div>
