<div ng-controller="ProfileCtrl">
	<span style="color: red">{{loggedInMessage}}</span> <br>

	<span>
		Wellcome {{username}} <br>
		Your Followers Count: {{numFollowers}} <br>
	</span>

	<div class="row remove-margins">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 ">
			<div class="profile-cont affix">


				<img id="profile-pic" class="img-circle" src = "img/blankprofile.png" alt="NO IMAGE" width="150px" height="150px"/>
				<p> Please enter a URL to change your profile picture: </p>
				<input id = "pictureURL" type="text"></input>
				<button class="button" id="imageButton" type="button" ng-click="createProfilePic()" >SUBMIT</button>


				<p> FirstName LastName</p>
				<p> username </p>
				<p class="followers"> 10 </p>
				<p class="following"> 20 </p>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 offset-lg-3 col-xl-9 offset-lg-3">
			<div class="my-posts-container">
				<div class="post-container" ng-repeat="question in questionList" ng-click="goToLink(question)">
					<p class="feed-question-title" id="current-question-title">{{question.title}}</p>
					<div class="row">
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
							<p class="feed-user"> Created by (username) on {{question.startDate | date: 'yyyy-MM-dd'}}</p>
							<p class="feed-subtitle">{{question.subtitle=="undefined" ? "" : question.subtitle}} </p> 
							<p class="feed-description">{{question.description=="undefined" ? "" : question.description}} </p> 
						</div>
						<div class="feed-stats col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
							<p class="feed-end-date">Closes on {{ question.endDate!=null ?
							(question.endDate | date: 'yyyy-MM-dd') : 'Open Forever'}}</p>
							<p class="feed-total-votes">{{question.totalVotes}} VOTES</p>
							<p class="feed-num-likes"> {{question.numLikes}} LIKES</p>

							<!-- add tags  -->
							<div class="tags-container row">
								<div class="tag"> Food </div>
								<div class="tag"> Fruit </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		</div>

</div>
