<form class="container"
	ng-controller= "RatingCtrl"
>

<h1> Rating page </h1>
<!-- 
<p>Creator:</p> 

1. import the data of rating from database 
	-Title
	-Description
	-Duration : startdate / end date
	-Analymous
		-if Yes, don't show creator's name
		-if No, show 

<form ng-model="rateInput">
  <input type="radio" name="rating" value="1"> 1<br>
  <input type="radio" name="rating" value="2"> 2<br>
  <input type="radio" name="rating" value="3"> 3<br>
  <input type="radio" name="rating" value="4"> 4<br>
  <input type="radio" name="rating" value="5"> 5<br>
</form>

<form ng-model="likeInput">

<label>
  <input type="radio" name="dis/like" value="like" />
  <img src="img/like.png" width="50" height="50">
</label>

  
<label>
<input type="radio" name="dis/like" value="dislike" />
<img src="img/dislike.png" width="50" height="50">
</label>

</form>

<br>

<h3> Post Anonymously </h3>
<input type="checkbox" name="anonymous" ng-model="isAnonymousInput">

Comment: 
<textarea rows="4" cols="50">
</textarea> 

<input type="submit" 
	   value="submit"
	   ng-click="Rating()"
>
	<p>{{errorMessage}}</p> -->

</form>