
<div class="cont users-cont">
<h3 class="signup-heading">Create Your Account</h3>
<div class="signup-container" ng-controller="signUpController">

    <form name="form" ng-submit="vm.register()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input placeholder="username" type="text" name="username" id="username" class="form-control" ng-model="signupUsername" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="username">Email</label>
            <input placeholder="email@usc.edu" type="email" name="username" id="username" class="form-control" ng-model="signupEmail" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Email is required</span>
        </div>


        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input placeholder="********"type="password" name="password" id="password" class="form-control" ng-model="signupPassword" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>


        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="signup-button" ng-click="signupFunction()">REGISTER</button>
            
            <a href="#!/login" class="">Return To Login</a>


        </div>


        <p>{{signupErrorMessage}}</p>
    </form>
</div>

</div>
